.cart-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  /* Navbar customization */
.custom-navbar {
  background-color: #d9bda0;
}

.navbar-brand img {
  margin-right: 10px;
}

.navbar-nav .nav-item .nav-link {
  color: #333;
  font-weight: bold;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #000;
}
